/* general */

html {
  scroll-behavior: smooth;
  transition: all 0.5s linear;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--clr-white-black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.light-mode {
  --clr-red: red;
  --clr-white-black: #222;
  --bg-color: #F3F3F3;
  --git-hub: #22272f;
  --contact: rgb(224, 224, 224);
}

.dark-mode {
  --clr-red: red;
  --clr-white-black: #d4d3d3;
  --bg-color: #181a1b;
  --git-hub: white;
  --contact: #2f2f2f;
}

.button-theme {
  width: 55px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.button-theme-2 {
  width: 55px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.button-theme::after {
  content: '';
  display: block;
  position: absolute;
  left: 3px;
  top: 2px;
  bottom: 2px;
  background-color: red;
  width: 20px;
  border-radius: 999px;
  cursor: pointer;
}

.button-theme-2::after {
  content: '';
  display: block;
  position: absolute;
  right: 3px;
  top: 2px;
  bottom: 2px;
  background-color: red;
  width: 20px;
  border-radius: 999px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0;
  padding: 0;
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
}

/* progress */

.progress {
  background-color: red;
  height: 40px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.progress p {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 8px;
}

/* header */

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.hamburger-menu {
  display: none;
}

.hamburger-list-show {
  display: none;
}

.navbar .show {
  display: none;
}

/* jumbo */

.img-container .img {
  width: 65px;
}

.hamburger-list {
  display: flex;
  align-items: center;
}

.hamburger-list a {
  font-size: 23px;
  font-weight: 500;
  text-transform: capitalize;
}

.hamburger-list a:hover {
  cursor: pointer;
  color: red;
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.home-info {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: column;
}

.social li {
  font-size: 25px;
}

.home {
  text-align: left;
}

.social .linkedin {
  color: #0766c2;
}

.social .linkedin:hover, .social .git:hover  {
  opacity: 0.8;
}

.social .git {
  color: var(--git-hub);
}

.home h2 {
  font-size: 45px;
  font-weight: 700;
}

.home h5 {
  font-size: 20px;
  font-weight: 200;
  margin-top: -25px;
}

.home p {
  font-size: 20px;
}

/* about */

.container-experience {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.home-about {
  text-align: center;
}

.experience img {
  width: 50px;
  border-radius: 7px;
  background-color: lightgray;
}

.experience {
  width: calc(100% / 3);
}

.info-experience {
  display: flex;
  justify-content: center;
}

.description-experience .name {
  font-size: 22px;
  font-weight: 600;
}

.description-experience .name-experience {
  font-size: 15px;
  margin-top: -12px;
}

.description-experience .date {
  font-size: 14px;
  color: rgb(129, 129, 129);
  margin-top: -10px;
}

.description-experience .description {
  margin-top: -5px;
  font-size: 15px;
}

.bar {
  height: 2px;
  width: 150px;
  background-color: gray;
  /* align-self: self-start; */
  margin-top: 10%;
}

/* portfolio */

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 70px;
  margin-top: 20px;
}

.card-container .card {
  width: 45%;
  height: 300px;
  position: relative;
  border-radius: 4px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-left: 15px;
  text-align: left;
  color: white;
  display: none;
}

.overlay .title {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.overlay .tec {
  font-size: 16px;
  margin-top: -20px;
}

.card:hover .overlay {
  display: block;
  transition: all 0.3s ease-in-out;
}

.card:hover img {
 filter: brightness(50%);
 transition: all 0.3s ease-in-out;
}

.card .button {
  background-color: red;
  color: white;
  padding: 4px 15px;
  text-align: left;
  border-radius: 7px;
  margin-top: 10px;
  border: none;
}

.button a {
  display: flex;
  align-items: center;
}

.card .icon {
  font-size: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.css {
  color: #2865f1;
}

.html {
  color: #f16524;
}

.javascript {
  color: #f7e017;
}

.vue {
  color: #3eb984;
}

.react {
  color: #61dbfb;
}

/* skills */

.container-skills {
  margin-bottom: 70px;
}

.frontend li {
  height: 80px;
}

.frontend li img {
  height: 100%;
}

.frontend, .backend {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content:s; */
}

.list {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

/* contact */

.container-contact {
  background-color: var(--contact);
  padding-bottom: 60px;
}

.container-all {
  display: flex;
  justify-content: space-between;
}

.info-contact {
  text-align: left;
}

.info-contact h2, .where h2 {
  font-size: 45px;
  font-weight: 700;
}

.info-contact h5 {
  font-size: 20px;
  font-weight: 200;
  margin-top: -25px;
}

.map{
  width: 400px;
  height: 250px;
}

.contact-social a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.where {
  text-align: left;
}

.info-contact ul {
  align-items: start;
}

/* footer */

.footer {
  background-color: red;
  color: white;
}

.footer .footer-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* mediaquery */

@media all and (max-width: 700px) {

  .hamburger-menu {
    display: block;
  }

  .hamburger-list {
    display: none;
  }

  .hamburger-list-show {
    display: block;
    display: flex;
    text-align: right;
    flex-direction: column;
  }

  .hamburger-list-show a {
    font-size: 23px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .hamburger-list-show a:hover {
    cursor: pointer;
    color: red;
  }

  .pr {
    display: flex;
    flex-direction: column;
  }

  .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    gap: 0px;
    padding: 0 20px;
  }

  .home-info {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .social {
    display: flex;
    flex-direction: row;
  }

  .home {
    text-align: center;
  }

  .home-image {
    margin-top: -30px;
    margin-bottom: -50px;
  }

  .card-container .card {
    width: 90%;
    height: 200px;
    position: relative;
    border-radius: 4px;
  }

  .container-all {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: space-between;
  }

  .map{
    width: 80%;
    height: 200px;
  }

  .contact-social {
    display: flex;
    flex-direction: column;
  }

  .footer-cont {
    padding:  5px;
  }
  
  .list li {
    padding: 0 20px;
  }

  .container-experience {
    align-items: center;
    flex-direction: column;
  }

  .bar {
    height: 80px;
    width: 2px;
    background-color: gray;
    align-self: center;
    margin-bottom: 5%;
  }

}